#!/bin/bash

# Если папка /next-app пуста, заполним ее шаблоном кода
if [ "$(ls -A "/next-app" 2> /dev/null)" == "" ]
then
   echo Папка пуста, заполним ее шаблоном кода...
   cp -r /temp/* /next-app
   cp -r /temp/.next /next-app
fi

# Запускаем приложение
cd /next-app
yes | /usr/local/bin/npx next start -p 3000

# Вечная пауза
while true
do
   sleep 10000
done

