#!/bin/bash

FILE="/next-app-dev/rebuild"

inotifywait -e close_write --format '%w %f' -m $FILE |\
(
while read
do
    echo `date` Изменен файл $FILE. Запускаем пересборку кода... >> /opt/next-app/rebuild.log
    cd /opt/next-app/docker-deploy
    docker-compose down
    rm -rf /next-app/*
    cp -r /next-app-dev/* /next-app
    cp -r /next-app-dev/.next /next-app
    docker-compose -f /opt/next-app/docker-deploy/docker-compose.yml up --build --detach
done
)
