#!/bin/bash

if [ -f /opt/setup_cron.log ] 
then 
   echo cron is set up!
else
   echo "0 0 * * * root /opt/psql_backup.sh" >> /etc/crontab
   echo "0 9 * * 0 root /opt/psql_reindex_vacuum.sh" >> /etc/crontab
   echo "0 1 * * * root find /backup -type f -mtime +7 -exec rm –f {} \;" >> /etc/crontab
   echo Done > /opt/setup_cron.log
fi
